endpoints = [["event", "http://172.17.0.1:3003/api/events/count"], ["post", "http://172.17.0.1:3003/api/socialmediaposts/count"], ["post:featurized", "http://172.17.0.1:3003/api/socialmediaposts/count?[where][state]=featurized"], ["jobset", "http://172.17.0.1:3003/api/jobsets/count?[where][state]=new"]]

api = "http://api:3004/api/watchman"